#body{
    /* background-color:lightyellow; */
}
/* Categories section styles  */
#categories-1{
    background-color: yellow;
    border-radius: 15px;
}
#categories-2{
    background-color: #FF136F;
    border-radius: 15px;
}
#categories-3{
    background-color: #4289FF;
    border-radius: 15px;
}
.bg-banner{
    background-color:#FEEAE9;
    border-radius: 15px;
}
#all-btn{
    background-color:rgb(253, 73, 178);
    border-radius: 15px;
}
.shoes{
    border-radius: 15px;
    border-radius: 0;
}
/* Card Styles  */
#card{
    border: 0;
    border-radius: 15px;
}
#btn-shoes{
    color: white;
    background-color: black;
    border: 0;
    border-radius: 20px;
    padding: 10px ;
}
#foo-clr{
    background-color: #FEEAE9;
}