.bg-banner{
    background-color:#FEEAE9;
    border-radius: 15px;
}
#all-btn{
    background-color:rgb(253, 73, 178);
    border-radius: 15px;
}
.shoes{
    border-radius: 15px;
    border-radius: 0;
}